MicrosoftBooks_FullIndex_27_09_2018.xlsx
MS_digitised_books_2021-01-09.csv
dig19cbooksjsontext.bz2
/json
1700_1799.zip
1840_1849.zip
*.admin-key
/1840_1849
/generated_titles.txt
/readme_digibks2021.txt
/.env